@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --color: #fff;
}
body{
    background-color: #000;
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main{
    
    margin: 100px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0 30px #FF44CC,0px 0 15px #FF44CC inset;
}
.screen{
    font-size: 30px;
    /* width: 100%; */
    background-color: rgba(159, 159, 159,0.1);
    border: 1px solid var(--color);
    min-height: 100px;
    color: var(--color);
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    caret-color: rgb(255, 94, 0);
    margin: 10px;
    /* display: flex;
    justify-content: flex-end; */
    box-shadow: 0px 0 20px #0FF0FC,0px 0 10px #0FF0FC inset;
}
.grid-display{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* grid-template-columns: auto auto auto auto; */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    min-height: 400px;
    justify-content: space-between;
    /* grid-gap: auto; */
    
}
.row{
    display: flex;
    justify-content: space-between;
}
.grid-display button{
    /* margin: 5px; */
    font-family: 'Poppins', sans-serif;
    color: var(--color);
    font-size: 20px;
    background-color: rgba(0,0,0,0.1);
    width: 50px;
    height: 50px;
    border: 2px solid var(--color);
    border-radius: 50%;
    text-shadow: rgb(108, 255, 228);
    box-shadow: 0px 0 20px #F6FA70,0px 0 10px #F6FA70 inset;
}
.grid-display button:hover{
    transform: scale(1.1);
}
.bck{
    width: 200vw;
    height: 300vh;
    position: fixed;
    z-index: -1;
    background: linear-gradient(to left top, #4f87ff, rgb(181, 30, 138),black);
    animation: bckanim 4s ease infinite alternate-reverse;
}
@keyframes bckanim{
    0%{
        left: 0;
    }
    100%{
        left:-100vw;
    }
}